
<table class= "table">
  <thead class="bg-success">
    <tr>
      <th>Usuarios que completaron su tarea</th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>